*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# build folders
.DS_Store
.gradle/

model/.DS_Store
model/.gradle/
model/build/
model/bin/

common/.DS_Store
common/.gradle/
common/build/
common/bin/

api/.DS_Store
api/build/.gradle/
api/build/
api/bin/

app/.DS_Store
app/.gradle/
app/build/
app/bin/
