<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">


	<!-- use annotation configuration for beans -->
	<context:annotation-config />

	<!-- base package for scanning annotations -->
	<context:component-scan base-package="net.bhira.sample.api" />

	<!-- define async task executor thread pool for use by mvc -->
	<bean id="asyncTaskExecutor"
		  class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<property name="corePoolSize" value="5" />
		<property name="maxPoolSize" value="10" />
		<property name="queueCapacity" value="200" />
	</bean>

	<!-- configure mvc to use async thread pool for servicing Callable jobs -->
	<mvc:annotation-driven >
		<mvc:async-support default-timeout="30000" task-executor="asyncTaskExecutor" />
	</mvc:annotation-driven>

	<!-- add view resolver for JSPs -->
	<bean id="viewResolver"
		  class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<!-- define datasource bean -->
	<bean id="dataSource"
		  class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/employee_app" />
		<property name="username" value="test" />
		<property name="password" value="test" />
	</bean>

	<!-- define PlatformTransactionManager for JDBC datasource -->
	<bean id="transactionManager"
		  class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>

	<!-- define transactional advice for service classes -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="get*" propagation="REQUIRED" no-rollback-for="Exception" read-only="true"/>
			<tx:method name="load*" propagation="REQUIRED" no-rollback-for="Exception" read-only="true"/>
			<tx:method name="fetch*" propagation="REQUIRED" no-rollback-for="Exception" read-only="true"/>
			<tx:method name="*" propagation="REQUIRED" rollback-for="Exception" />
		</tx:attributes>
	</tx:advice>

	<!-- make all service classes in the service package transactional -->
	<aop:config>
		<aop:pointcut id="serviceOperation" expression="execution(* net.bhira.sample.api.service.*.*(..))"/>
		<aop:advisor advice-ref="txAdvice" pointcut-ref="serviceOperation"/>
	</aop:config>

</beans>